/* Main Site Body ////////////////////////////////// */
html {
    position:relative; 
    min-height: 100%;
}

body {
    margin: 0px 0px 150px 0px;
}

/* Main Page Nav Bar /////////////////////////////// */
.mainPageNavBarSection {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainNaveBarContent {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainPageNavBarButton {
    padding: 0px 25px 0px 0px;
    color:  rgb(2, 15, 31);
    text-decoration: none;
}

.mainPageNavBarButton:hover {
    color:  rgb(162, 62, 255);
}

.mainPageNavBarSocialMedia {
    width: 150px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.mainPageNavBarSocialMediaButton {
    padding: 0px 0px 0px 0px;
    color:  rgb(2, 15, 31);
    text-decoration: none;
    transition: 0.25s;
}

.mainPageNavBarSocialMediaButton:hover {
    color:  rgb(162, 62, 255);
    transform: scale(1.1);
}

/* Hero Cover Section ////////////////////////////// */
/* Hero Cover Stars //////////////////////////////// */
.heroCoverSection {
    max-width: 100%;
    height: 800px;
    position: relative;
    cursor: crosshair;
    overflow: hidden;
}

.heroCoverSectionInnerStarBase {
    max-width: 100%;
    background-image: url("../images/starSpaceCoverBase.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    transition: 2.5s;
    display: block;
}

.heroCoverSectionInnerStarsOne {
    max-width: 100%;
    background-image: url("../images/starSpaceCoverStars01.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    transition: 1s;
}

.heroCoverSectionInnerStarsOne:hover{
    transform: scale(1.3);
}

.heroCoverSectionInnerStarstwo {
    max-width: 100%;
    background-image: url("../images/starSpaceCoverStars02.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    transition: 2s;
}

.heroCoverSectionInnerStarstwo:hover{
    transform: scale(1.1);
}

.heroCoverSectionInnerStarsThree {
    max-width: 100%;
    background-image: url("../images/starSpaceCoverStars03.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    transition: 2.5s;
}

.heroCoverSectionInnerStarsThree:hover{
    transform: scale(1.2);
}

.heroCoverSectionInnerStarsFour {
    max-width: 100%;
    background-image: url("../images/starSpaceCoverStars04.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    transition: 2.5s;
}

.heroCoverSectionInnerStarsFour:hover{
    transform: scale(1.1);
}

.heroCoverLogoSection {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.heroCoverLogoSection:hover{
    transform: scale(0.5);
}

.heroCoverLogo {
    width: 200px;
}



/* Hero Cover Particles //////////////////////////// */
.particleDiv01 {
    background-image: url("../images/particles01.png");
    width: 100%;
    height: 800px;
    position: absolute;
    pointer-events: none;
    animation-name: particleDiv01;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes particleDiv01 {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    0% {transform: scale(1);}
  }

.particleDiv02 {
    background-image: url("../images/particles02.png");
    width: 100%;
    height: 800px;
    position: absolute;
    pointer-events: none;
    animation-name: particleDiv02;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

@keyframes particleDiv02 {
    0% {transform: scale(1);}
    50% {transform: scale(2);}
    0% {transform: scale(1);}
  }

.particleDiv03 {
    background-image: url("../images/particles03.png");
    width: 100%;
    height: 800px;
    position: absolute;
    pointer-events: none;
    animation-name: particleDiv03;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes particleDiv03 {
    0% {transform: scale(1);}
    50% {transform: scale(3);}
    0% {transform: scale(1);}
  }



/* pageSplitter ////////////////////////// */
.pageSplitter {
    width: 100%;
    height: 150px;
    background-color: rgb(2, 15, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageSplitterText {
    font-family: 'Poppins', sans-serif;
    color: white;
}



/* Body Section: About Me ////////////////////////// */
.bodySectionAbout {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodySectionAboutContent {
    margin: 0 auto;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
}

.aboutMeProfileImage {
    width: 300px;
}

.aboutMeTextArea {
    padding: 0px 0px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutMeTextAreaHeading {
    color:  rgb(2, 15, 31);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 40px;
}

.aboutMeTextAreaParagraph {
    color: grey;
    padding: 15px 0px 0px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 25px;
}

.portfolioLinksSection {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolioLinksContainer {
    margin: 0 auto;
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
}

.portfolioLinksElementContainer{
    width: 48%;
    height: 100%;
    overflow: hidden;
}

.developerContainer {
    background-image: url("/images/aBuiDevDeveloperSymbol.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.designerContainer {
    background-image: url("/images/auBuiltDesignSymbol.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.developerContainer:hover {
    transform: scale(1.05);
}

.designerContainer:hover {
    transform: scale(1.05);
}



/* Page Splitter 02 //////////////////////// //////// */
.secondaryTitlePageSplitter {
    width: 100%;
    height: 150px;
    background-color: rgb(2, 15, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Skillset Icon Section /////////////////////////// */
.skillSetIconsSection {
    background-color: rgb(8, 54, 92);
    margin: 0px 0px 150px 0px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillSetIconsContainer {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.skillElement {
    width: 100px;
    height: 100px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: 0.5s;
}
.skillElement:hover{
    transform: scale(1.1);
}
.skillIcon {
    font-size: 30px;
    color: rgb(189, 91, 255);
    margin: 0px 0px 15px 0px;
}
.skillText {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
}



/* Footer ////////////////////////////////////////// */
.mainFooter {
    margin: 150px 0px 0px 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 150px;
    background-color: rgb(2, 15, 31);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footerLogo {
    width: 50px;
    margin: 0px 0px 10px 0px;
}

.footerTextOne {
    color: white;
    margin: 0px 0px 5px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.footerTextTwo {
    color: rgb(255, 255, 255);
    margin: 5px 0px 0px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

/* Media Breaks ////////////////////////////////////////// */
/* Nav Bar /////////////////////////////////////////////// */
@media only screen and (max-width: 600px) {
    .mainPageNavBarSection {
        margin: 0 auto;
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mainNaveBarContent {
        width: 80%;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }
    .mainPageNavBarButtons {
        padding: 0px;
        margin: 0 auto;
        width: 80;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mainPageNavBarButton {
        text-align: center;
    }
    .mainPageNavBarSocialMedia {
        font-size: 30px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainPageNavBarSocialMediaButton {
        margin: 0;
        padding: 10px 10px 10px 10px;
        color: rgb(162, 62, 255)
    }
    .skillSetIconsSection {
        height: 700px;
    }
  }

  @media only screen and (max-width: 1020px) {
      .bodySectionAbout {
        height: 800px;
      }

      .aboutMeTextArea {
          margin: 50px 0px 0px 0px;
          align-items: center;
          padding: 0px;
      }

    .bodySectionAboutContent {
        width: 80%;
        height: 800px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .developerContainer {
        width: 100%;
        height: 300px;
    }
    .designerContainer {
        width: 100%;
        height: 300px;
    }
}

/* Media Breaks ////////////////////////////////////////// */
/* Hero Cover //////////////////////////////////////////// */
@media only screen and (max-width: 600px) {
    .heroCoverSection {
        width: 100%;
    }
}

/* Media Breaks ////////////////////////////////////////// */
/* Body Content ////////////////////////////////////////// */
@media only screen and (max-width: 600px) {
    .bodySectionAbout {
        width: 100%;
    }
    .bodySectionAbout {
        height: 900px;
    }
    .bodySectionAboutContent {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .aboutMeTextArea {
        margin: 0 auto;
        padding: 25px 0px 0px 0px;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .portfolioLinksSection {
        height: 800px;
    }
    .portfolioLinksContainer {
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
        height: 100%;
    }
    .portfolioLinksElementContainer {
        width: 100%;
    }
    .developerContainer {
        width: 100%;
        height: 300px;
    }
    .designerContainer {
        width: 100%;
        height: 300px;
    }
}

/* Other Pages ////////////////////////////////////////// */

.homeLogo {
    width: 100px;
    transition: 0.5s;
}
.homeLogo:hover {
    width: 100px;
    transform: scale(1.1);
}
.pageNavBarLogoContainer {
    width: 150px;
}

.otherPageTitleSection {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otherPageMainTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .homeLogo {
        display: none;
    }
}